data/raw_data/
data/ref_databases/
data/hmmer/jackhmmer/
data/hmmer/phmmer/
data/hmmer/jackhmmer_archived/
data/pretrained_models/

data/CreiLOV/MSA_full.csv
data/archived/
data/ras_binder/
data/mafft/mafft.sh
data/mafft/temp.fasta
data/mafft/temp_aligned.fasta

APEXGo/optimization/constrained_bo_scripts/wandb
APEXGo/optimization/constrained_bo_scripts/optimization_all_collected_data

APEXGo/generation/saved_models/
APEXGo/generation/wandb/
APEXGo/generation/checkpoints/
APEXGo/generation/data/
APEXGo/optimization/constrained_bo_scripts/wandb
APEXGo/optimization/constrained_bo_scripts/tmp

scripts/archived/
data/hmmer/jackhmmer_GB1/
data/CreiLOV/MSA_old.csv
data/TrpB/MSA_old.csv
data/hmmer/jackhmmer/

figures/
checkpoints/
exps/
tmp/
outputs/
__pycache__/
wandb
*.pyc
*.sto
lightning_logs/
debug*
#*.csv