data/raw_data/
data/ref_databases/
data/hmmer/jackhmmer/
data/hmmer/phmmer/
data/hmmer/jackhmmer_archived/
data/pretrained_models/

data/CreiLOV/MSA_full.csv
data/archived/
data/ras_binder/
data/mafft/mafft.sh
data/mafft/temp.fasta
data/mafft/temp_aligned.fasta

APEXGo/optimization/constrained_bo_scripts/wandb
APEXGo/optimization/constrained_bo_scripts/optimization_all_collected_data

APEXGo/generation/saved_models/
APEXGo/generation/wandb/
APEXGo/generation/checkpoints/
APEXGo/generation/data/
APEXGo/optimization/constrained_bo_scripts/wandb
APEXGo/optimization/constrained_bo_scripts/tmp

scripts/archived/
data/hmmer/jackhmmer_GB1/
data/CreiLOV/MSA_old.csv
data/TrpB/MSA_old.csv
data/hmmer/jackhmmer/

figures/
checkpoints/
exps/
tmp/
outputs/
__pycache__/
wandb
*.pyc
*.sto
lightning_logs/
debug*
#*.csvtemp/
*.log
.ipynb_checkpoints/prior_sample-checkpoint.py
configs/.ipynb_checkpoints/sample_config-checkpoint.yaml
configs/data/.ipynb_checkpoints/Antibody_Heavy-checkpoint.yaml
configs/data/.ipynb_checkpoints/Antibody_Light_-checkpoint.yaml
configs/data/.ipynb_checkpoints/Antibody_Paired-checkpoint.yaml
configs/data/Antibody_Heavy.yaml
configs/data/Antibody_Light_.yaml
configs/data/Antibody_Paired.yaml
configs/model/.ipynb_checkpoints/causalLM-checkpoint.yaml
configs/model/.ipynb_checkpoints/d3pm-checkpoint.yaml
configs/pretrain_model/.ipynb_checkpoints/d3pm_heavy-checkpoint.yaml
configs/pretrain_model/.ipynb_checkpoints/d3pm_light-checkpoint.yaml
configs/pretrain_model/d3pm_heavy.yaml
configs/pretrain_model/d3pm_light.yaml
configs/pretrain_model/d3pm_paired.yaml
configs/problem/.ipynb_checkpoints/
data/Antibody/.ipynb_checkpoints/
dataset/.ipynb_checkpoints/
models/.ipynb_checkpoints/d3pm-checkpoint.py
models/pretraining/.ipynb_checkpoints/pretrained-checkpoint.py
sampling/.ipynb_checkpoints/
